/*--------------------------------------------------------------
## StartUp CPT Partners
--------------------------------------------------------------*/

.partner {
    display: table;
    width: 100%;
}

.partner-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 160px;
    width: 100%;
}

.partner img {
    width: 100%;
    height: auto;
    max-width: 140px;
    max-height: 140px;
}

.partner,.partner:hover,
.partner a,.partner a:hover {
    color: #fff;
    text-decoration: none;
}

.partner,.partner:hover {
    text-transform: uppercase;
    font-weight: normal;
}

@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
/*      left: 0;*/
      -webkit-transform: translate3d(100%, 0, 0);
    }

    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
/*      left: 0;*/
      -webkit-transform: translate3d(-100%, 0, 0);
    }
}

@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
           
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
/*      left: 0;*/
      -webkit-transform: translate3d(50%, 0, 0);
    }

    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
/*      left: 0;*/
      -webkit-transform: translate3d(-50%, 0, 0);
    }
}

@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }
    
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
/*      left: 0;*/
      -webkit-transform: translate3d(25%, 0, 0);
    }

    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
/*      left: 0;*/
      -webkit-transform: translate3d(-25%, 0, 0);
    }
}