/*--------------------------------------------------------------
## StartUp CPT Partners
--------------------------------------------------------------*/

.partner {
    display: table;
    width: 100%;
}

.partner-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 160px;
    width: 100%;
}

.partner img {
    width: 100%;
    height: auto;
    max-width: 140px;
    max-height: 140px;
}

.partner a,.partner a:hover {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
}